<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	g/BMU36nIeFbcHOSWHUvRPNXWK+OCOSvscQM5NeiJMApYM3qneLDOgTNJPqzrZGj/cGS
	VihzLIMyFvdbL7xUZjd/QTnpu6FXst4weMrX4itA9HeDHEiHErvZnZDxwUFDI5epcIeL
	iSRcsYkmYls59s1kBUbkfaC0TetjrOwH5ds=
	</data>
</dict>
</plist>
