# Meta
# This should be symlinked from home and work
Brewfile 

# General
.DS_Store

# Neovim
*.swp
*~

## file browser
.netrwhist

## programming environments
neovim/venv3

# Generated tmuxline configuration
tmux/tmuxline.conf

# ZSH
.zcompdump
