# General
.DS_Store

# Setup settings
setup/.setupstyle.sh
Brewfile-*.lock.json

# Neovim
*.swp
*~
configs/nvim-config/pack/minpac/
configs/nvim-env/node_modules/

## file browser
.netrwhist

# Generated tmuxline configuration
configs/tmux/tmuxline.conf

# ZSH
.zcompdump
configs/zsh/autoload-settings/*-local*.zsh*
**/.zsh_history

# Onivim
oni2/**/*
!oni2/configuration.json
!oni2/keybindings.json

# iterm2
configs/iterm2/AppSupport
configs/zsh/config-zsh/.iterm2
