# General
.DS_Store

# Neovim
*.swp
*~
nvim-config/pack/minpac/
nvim-env/node_modules/

## file browser
.netrwhist

# Generated tmuxline configuration
tmux/tmuxline.conf

# ZSH
.zcompdump
zsh/zsh/.config/zsh/autoload-settings/*-local-*.zsh*
**/.zsh_history
zsh/zsh/.config/zsh/.zcompcache/
