<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	gqSMKV2vTrG9oZOc5eP88xNW4fZOZ8IH4//pTOtTT06BTRyhWjCUZ0BiFlFazxEcfm4G
	ev7+X/w1aJqmpZ2qwBCjKIn26bAjEDPw54CRqZ+fnZaJHPav5Z1gIOi3A0LCFJL1qD6f
	pBd4v69x/TO8WQ6dlpswWPmPZHgLj0WeONc=
	</data>
</dict>
</plist>
