[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynvim = "*"
neovim-remote = "*"
flake8 = "*"
pylint = "*"
msgpack = "*"

[requires]
python_version = "3.9"

[scripts]
DarkLight = "python external_DarkLight.py"
