<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Installed Extensions</key>
	<array>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.dash</string>
			<key>Extension Name</key>
			<string>Dash</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>Dash</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>Dash.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/Dash.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.evernote</string>
			<key>Extension Name</key>
			<string>Evernote</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>Evernote</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>Evernote.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/Evernote.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.getip</string>
			<key>Extension Name</key>
			<string>Get IP</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>Get IP</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>GetIP.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/GetIP.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.omnifocus</string>
			<key>Extension Name</key>
			<string>OmniFocus</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>OmniFocus</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>OmniFocus.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/OmniFocus.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.pocket</string>
			<key>Extension Name</key>
			<string>Pocket</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>Pocket</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>Pocket.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/Pocket.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.urlshortener</string>
			<key>Extension Name</key>
			<string>Shorten Link</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Option Identifier</key>
					<string>domain</string>
					<key>Option Label</key>
					<dict>
						<key>en</key>
						<string>Shortening Service</string>
					</dict>
					<key>Option Type</key>
					<string>multiple</string>
					<key>Option Values</key>
					<array>
						<string>goo.gl</string>
						<string>is.gd</string>
						<string>v.gd</string>
					</array>
				</dict>
			</array>
			<key>Options Account Title</key>
			<string>Shorten Link</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>ShortenLink.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/ShortenLink.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.spotify-search</string>
			<key>Extension Name</key>
			<string>Spotify</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>Spotify</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>Spotify.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/Spotify.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.unshorten</string>
			<key>Extension Name</key>
			<string>Unshorten Link</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>Unshorten Link</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>UnshortenLink.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/UnshortenLink.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.formatting</string>
			<key>Extension Name</key>
			<string>Formatting</string>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<string>Formatting</string>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>Formatting.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/Formatting.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.pasteplain</string>
			<key>Extension Name</key>
			<dict>
				<key>ar</key>
				<string>لصق =</string>
				<key>ca</key>
				<string>Enganxar =</string>
				<key>cs</key>
				<string>Vložit =</string>
				<key>da</key>
				<string>Sæt ind =</string>
				<key>de</key>
				<string>Einsetzen =</string>
				<key>el</key>
				<string>Επικόλληση =</string>
				<key>en</key>
				<string>Paste =</string>
				<key>es</key>
				<string>Pegar =</string>
				<key>fi</key>
				<string>Sijoita =</string>
				<key>fr</key>
				<string>Coller =</string>
				<key>he</key>
				<string> =הדבק</string>
				<key>hr</key>
				<string>Zalijepi =</string>
				<key>hu</key>
				<string>Beillesztés =</string>
				<key>it</key>
				<string>Incolla =</string>
				<key>ja</key>
				<string>ペースト =</string>
				<key>ko</key>
				<string>붙이기 =</string>
				<key>nb</key>
				<string>Lim inn =</string>
				<key>nl</key>
				<string>Plak =</string>
				<key>pl</key>
				<string>Wklej =</string>
				<key>ro</key>
				<string>Lipește =</string>
				<key>ru</key>
				<string>Вставить =</string>
				<key>sk</key>
				<string>Vložiť =</string>
				<key>sv</key>
				<string>Klistra in =</string>
				<key>th</key>
				<string>วาง =</string>
				<key>tr</key>
				<string>Yapıştır =</string>
				<key>zh-Hans</key>
				<string>粘贴 =</string>
				<key>zh-Hant</key>
				<string>貼上 =</string>
			</dict>
			<key>Options</key>
			<array/>
			<key>Options Account Title</key>
			<dict>
				<key>ar</key>
				<string>لصق =</string>
				<key>ca</key>
				<string>Enganxar =</string>
				<key>cs</key>
				<string>Vložit =</string>
				<key>da</key>
				<string>Sæt ind =</string>
				<key>de</key>
				<string>Einsetzen =</string>
				<key>el</key>
				<string>Επικόλληση =</string>
				<key>en</key>
				<string>Paste =</string>
				<key>es</key>
				<string>Pegar =</string>
				<key>fi</key>
				<string>Sijoita =</string>
				<key>fr</key>
				<string>Coller =</string>
				<key>he</key>
				<string> =הדבק</string>
				<key>hr</key>
				<string>Zalijepi =</string>
				<key>hu</key>
				<string>Beillesztés =</string>
				<key>it</key>
				<string>Incolla =</string>
				<key>ja</key>
				<string>ペースト =</string>
				<key>ko</key>
				<string>붙이기 =</string>
				<key>nb</key>
				<string>Lim inn =</string>
				<key>nl</key>
				<string>Plak =</string>
				<key>pl</key>
				<string>Wklej =</string>
				<key>ro</key>
				<string>Lipește =</string>
				<key>ru</key>
				<string>Вставить =</string>
				<key>sk</key>
				<string>Vložiť =</string>
				<key>sv</key>
				<string>Klistra in =</string>
				<key>th</key>
				<string>วาง =</string>
				<key>tr</key>
				<string>Yapıştır =</string>
				<key>zh-Hans</key>
				<string>粘贴 =</string>
				<key>zh-Hant</key>
				<string>貼上 =</string>
			</dict>
			<key>Options Title</key>
			<string></string>
			<key>Package Name</key>
			<string>PasteAndMatch.popclipext</string>
			<key>PackagePath</key>
			<string>/Users/matt/Library/Application Support/PopClip/Extensions/PasteAndMatch.popclipext</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
