<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	m8zfbNQsuP2qC4VR6JxrmQZYI2D35h3nYT3VxLJJxPAhpfmZUT+9/KsIDArhytwXZzMQ
	n/klO2RKgM3wfRpXViwFGvUngdhFvKTb9KUPMQFk74OR6KTvvWxqh+DeNo5PeXpoR36W
	0BQ6E4p2XZE/YF5ssWPWzEuwSpHz6FuLNmI=
	</data>
</dict>
</plist>
