<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	nxyIyaa2lh5/sSpQ2g7/GQoMwGZz4cqvShT51+yDHLAr8t7llUgur32hsELqWtLRYhjm
	gOwdVs4f3kYokgJlWHjkgLqC21EFrwS7gMVEVD67O2S4QoSRGWhw6fh6+H+oJyPvNct5
	eBV0PbFBBEnh0mHeWMj7vDYDFxhdEV7TTtw=
	</data>
</dict>
</plist>
